.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin: auto;
    border: 1px solid;

}

.container {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(151, 146, 146, 0.8);
    text-align: center;
    box-shadow: 0 15px 25px rgba(0,0,0,.9);
    border-radius: 10px;
}

.button {
    background-color: #9e459e;
    border: none;
    color: rgb(202, 202, 202);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

ul.Menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.Menu li {
    margin: 0.8em 0;
}

h2 {
    margin-left: 750px;
    color:#F4ECE6;
}

h1 {
   color: #F4ECE6;
}

.score {
    color:#F4ECE6;
}

.background{
    background-image: url("image/background.jpg");

}